.loader11 {
  width: var(--loader-width);
  height: var(--loader-width);
  border: var(--loader-border) solid var(--loader-secondary);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation11 1s linear infinite;
}
.loader11::after,
.loader11::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--loader-primary);
  width: var(--loader-border);
  height: var(--loader-border);
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader11::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation11 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
