@import './common/variables';
@import './common/menuToggle';
@import './loader/loader';

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--body);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  font-weight: normal;
  font-size: 14px;
  position: relative;
}

.main-body {
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  height: 100%;
}

.main-container {
  grid-area: main-container;
}

.sidebar-container {
  grid-area: sidebar-container;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  .loaders {
    // min-width: 200px;
    flex: 1 1 350px;
    width: 33.33%;
    height: 360px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    cursor: pointer;
    transition: 0.2s linear;

    &:nth-child(2n + 1) {
      background: rgba(0, 0, 0, 0.1);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.sidebar-container {
  max-width: 380px;
  min-width: 380px;
  display: flex;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  color: var(--loader-text);
  padding: 1rem;
  justify-content: center;

  .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    width: min-content;
    font-weight: normal;
    justify-content: center;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .loader-sizes {
    display: flex;
    gap: 0.5rem;

    button {
      background: none;
      border: none;
      outline: none;
      color: var(--loader-text);
      width: 40px;
      aspect-ratio: 1/1;
      font-size: large;
      font-weight: normal;

      &:where(.active, :hover) {
        background-color: var(--loader-primary);
      }
    }
  }

  .form-group {
    display: flex;

    input {
      padding-left: 8px;
      margin: 0px;
      accent-color: red;
      font-size: large;
      border: 0;
      border-radius: 0;
      width: 100%;
      outline: none;
    }

    input[type='text'] {
      border-left: 1px solid gray;
    }

    input[type='color'] {
      -webkit-appearance: none;
      padding: 0;
      width: 40px;
      min-width: 40px;
      height: 40px;
    }
    input[type='color']::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    input[type='color']::-webkit-color-swatch {
      border: none;
    }
  }

  h2 {
    font-weight: normal;
  }
}

.loader-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loader-modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  place-content: center;
  place-items: center;
  pointer-events: none;
}

.loader-modal-dialog {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: var(--loader-modal-bg);
  box-shadow:
    0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 10px
      min(
        calc(
          1rem *
            (
              15 /
                (
                  var(--system-dimension-fontSizeDynamic) + 0.167 *
                    var(--system-dimension-fontSizeDifference)
                )
            )
        ),
        15px
      )
      0 rgba(0, 0, 0, 0.06);
  pointer-events: all;
  will-change: transform;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

// .toggle-menu {
//   @extend .transparent-btn;
//   position: fixed;
//   top: 1rem;
//   right: 2rem;
// }

.icon-button {
  @extend .transparent-btn;
  box-shadow: unset !important;
  border: none !important;
}

.loader-modal-close {
  @extend .transparent-btn;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.transparent-btn {
  outline: none;
  // background: rgba(255, 255, 255, 0.2);
  background: transparent;
  // border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  height: 42px;
  display: flex;
  aspect-ratio: 1/1;
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.loader-left-btn {
  @extend .transparent-btn;
  position: absolute;
  left: 1rem;
}
.loader-right-btn {
  @extend .transparent-btn;
  position: absolute;
  right: 1rem;
}

.loader-modal-source-code {
  background: none;
  display: flex;
  align-items: center;
  color: var(--loader-text);
  cursor: pointer;
  position: absolute;
  top: 1rem;
  border: none;
  gap: 0.5rem;
  font-weight: normal;
}

button {
  svg {
    path {
      fill: var(--loader-text) !important;
    }
  }
}

.loader-modal-backdrop {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

.sidebar-overlay {
  position: absolute;
  height: 100%;
  width: 0vw;
  background-color: var(--body);
  filter: blur(10px);
}

@media (max-width: 976px) {
  .sidebar-overlay {
    height: 100%;
    width: 100vw;
    background-color: var(--body);
    filter: blur(10px);
  }

  .sidebar-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .sidebar-container {
    min-width: 280px;
  }
}
