.toggle-menu {
  @extend .transparent-btn;
  position: fixed;
  top: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: end !important;
  gap: 0.3rem;
  padding: 0.4rem;

  span {
    background: var(--loader-secondary);
    border-radius: 10px;
    height: 2px;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  span:nth-of-type(1) {
    width: 50%;
  }
  span:nth-of-type(2) {
    width: 100%;
  }
  span:nth-of-type(3) {
    width: 75%;
  }

  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox']:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    width: 35%;
    transform: rotatez(45deg) translate(-6px, 10px);
  }

  input[type='checkbox']:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    width: 70%;
    transform: rotatez(-45deg) translate(-3px, -3px);
  }

  input[type='checkbox']:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 35%;
    transform: translate(-5px, -4px) rotatez(45deg);
  }
}
